body{
  position: relative;
  background-color: #ffffff;
  width: 900px;
  left:250px;
  margin:20px;
 
}


header{
  position: relative;
  border-bottom-style: solid;
  border-width: 10px;
  background-color: rgb(255, 255, 255);
  height: 120px;
  border-color: black;
}

#online{
  padding: 0px 0px 0px 6px;
}

#delicious{
  font-family: 'Yellowtail', cursive;
  position: relative;
  font-size: 28px;
  bottom: 65px;
  left: 30px;
}
#bestfood{
  position:relative;
  font-size: 15px;
  bottom: 98px;
  left: 31px;
}

header nav ul li{
  display: inline-block;
  float: right;
  
}

#post{
  position: relative;
  font-size: 10;
  color: rgb(77, 67, 68);
  bottom:20px;
}

#instruct{
  text-indent: 40px;

}
.ingredients{
  background-image: url("img/list-bg.png");
  font-size: 18px;
  height: 300px;
}
.ingredients ul li{
  list-style-type: circle;
  padding: 4px; 
}

#column1{
  
  padding: 4px;
  position:relative;
  top: 38px;
  left: 100px;
}
#column2{
  
  padding: 4px;
  position:relative;
  bottom:180px;
  left:450px;
}


main{
  background-color: rgb(255, 255, 255);

}
footer{
  background-color: aqua;
}
button{
  position: relative;
  float: right;
  bottom: 150px;
  border: none;
  padding: 10px;
  background-color: rgb(121, 71, 10);
}
#vannessa{
  position: relative;
  left: 100px;
  top: 50px;
}


